.task-wrapper {
  margin: 0 auto;
  width: 80%;
}
.task {
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px;
}

.task-disable {
  position: absolute;
  display: none;
}
h6 {
  margin: 0;
}

.boxing {
  display: flex;
  flex-direction: row;
}
.boxing input {
  display: none;
}

.boxing input + label:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  border: 2.5px solid rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  margin-right: 20px;
}

.boxing input + label {
  cursor: pointer;
}

.boxing label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxing input:checked + label:before {
  background-color: #3b89ff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 10 10'%3E%3Cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72 4.41 6.3l2.83-2.83' class='nc-icon-wrapper'/%3E%3C/svg%3E");
  border: 2.5px solid #3b89ff;
}

.boxing p {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.8px;
  width: 100%;
  word-wrap: normal;
  margin: 5px 0;
  white-space: normal;
}

.task button {
  border: none;
  background-color: white;
  font-size: 25px;
  vertical-align: middle;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
