.wrapper{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.input-box{
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 6px 6px 6px rgb(0 0 0 / 5%);
}

.input-box input{
  width: 90%;
  background-color: none;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 5px;
  color: rgb(66, 66, 66);
  font-size: 20px;
  padding: 15px 0 15px 15px;
}

.input-box input:focus{
  outline: none;
  border: 2px solid rgba(0,0,0,.2);
}
.input-box label{
  font-weight: bold;
  background-color: #fff;
  color: rgb(122, 122, 122);
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 20px;
  position: absolute;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.input-box button{
  font-size: 20px;
  margin-left: 10px;
  padding: 0;
  background-color: #fff;
  border: none;
  color: #3b89ff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
form{
  display: flex;
  justify-content: space-between;
}
